publish-sns-topic/step-function-definition.json
{
    "StartAt": "BookHotelState",
    "States": {
        "BookHotelState": {
            "Next": "BookMuseumState",
            "Parameters": {
                "buyer_id.$": "$.purchase.buyer_id",
                "end_date.$": "$.hotel.end_date",
                "near.$": "$.museum.name",
                "start_date.$": "$.hotel.start_date"
            },
            "Resource": "arn:aws:lambda:us-east-1:607477397669:function:BookHotelClientS1P4",
            "ResultPath": "$.hotel",
            "Retry": [
                {
                    "ErrorEquals": [
                        "TransientError"
                    ],
                    "MaxAttempts": 3
                }
            ],
            "Type": "Task"
        },
        "BookMuseumState": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "CancelHotelState",
                    "ResultPath": "$.errorInfo"
                }
            ],
            "Parameters": {
                "buyer_id.$": "$.purchase.buyer_id",
                "museum_name.$": "$.museum.name",
                "when.$": "$.museum.when"
            },
            "Resource": "arn:aws:lambda:us-east-1:607477397669:function:BookMuseumClientS1P4",
            "ResultPath": "$.museum",
            "Retry": [
                {
                    "ErrorEquals": [
                        "TransientError"
                    ],
                    "MaxAttempts": 3
                }
            ],
            "Type": "Task",
            "Next": "SNS Publish"
        },
        "SNS Publish": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "Message.$": "$",
                "TopicArn": "arn:aws:sns:us-east-1:607477397669:OrderCompletedTopic"
            },
            "End": true
        },
        "CancelHotelState": {
            "End": true,
            "Resource": "arn:aws:lambda:us-east-1:607477397669:function:CancelHotelClientS1P4",
            "Type": "Task"
        }
    }
}